.App {
    text-align: center;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* dimensions */
    width: 100vw;
    height: 100vh;
}